/* Tab view styles */
#selectView{
    grid-column: 1 / span 1;
    border-right: solid 1px rgb(158, 209, 147);
    height: 650px;
}
.selectViewHeader{
    display: none;
    background-color: transparent;
    height: 100px;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: aliceblue
}
.svH{
    padding: 20px;
    font-size: 30px;
    font-weight: 200;
}
.svP{
    position: relative;
    top: -20%;
    font-size: 13px;
    font-weight: 100;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.svBtns{
    padding: 10px;
    width: 25.13%;
    height: 50px;
    border: none;
    outline: none;
    margin-left: -4px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    color: #767d85;
    background-color: #e4dada;
    cursor: pointer;
}
.activeHeader{
    display: block;
    background-color: #68c5a1;
}
.activeBtn{
    background-color: #68c5a1;
    color: #fff;
}
#listView{
    grid-column: 2 / span 1;
    height: 650px;
}
#applianceContent{
    display: block;
    padding: 20px;
}
#panelContent{
    display: none;
    padding: 20px;
}
#batteryContent{
    display: none;
    padding: 20px;
}
#controllerContent{
    display: none;
    padding: 20px;
}

/* Appliance View Style */
form {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    color: #767d85;
  }
  /**
  * Make the field a flex-container, reverse the order so label is on top.
  */

  .field {
    display: flex;
    flex-flow: column-reverse;
    margin-bottom: 1em;
  }
  /**
  * Add a transition to the label and input.
  * I'm not even sure that touch-action: manipulation works on
  * inputs, but hey, it's new and cool and could remove the
  * pesky delay.
  */
  label, input {
    transition: all 0.2s;
    touch-action: manipulation;
  }

  input {
    border: 0;
    font-family: inherit;
    -webkit-appearance: none;
    border-radius: 0;
    border-bottom: 1px solid #a4cca7;
    padding: 0;
    cursor: text;
    font-size: 14px;
    height: 40px;
    color: darkslategray;
  }
  ::placeholder{
      color: #beb5b5;
  }
  input:focus {
    outline: 0;
    color: darkslategray;
    border-bottom: 2px solid #a4cca7;
  }

  label {
    text-transform: uppercase;
    font-size: 10px;
    padding-top: 5px;padding-left: 2px;padding-bottom: 5px;
  }
  /**
  * Translate down and scale the label up to cover the placeholder,
  * when following an input (with placeholder-shown support).
  * Also make sure the label is only on one row, at max 2/3rds of the
  * field—to make sure it scales properly and doesn't wrap.
  */
  input:placeholder-shown + label {
    cursor: text;
    max-width: 66.66%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transform-origin: left bottom;
    transform: translate(0, 2.125rem) scale(1.5);
  }
  /**
  * By default, the placeholder should be transparent. Also, it should
  * inherit the transition.
  */
  ::-webkit-input-placeholder {
    opacity: 0;
    transition: inherit;
  }
  /**
  * Show the placeholder when the input is focused.
  */
  input:focus::-webkit-input-placeholder {
    opacity: 1;
  }
  /**
  * When the element is focused, remove the label transform.
  * Also, do this when the placeholder is _not_ shown, i.e. when
  * there's something in the input at all.
  */
  input:not(:placeholder-shown) + label,
  input:focus + label {
    transform: translate(0, 0) scale(1);
    cursor: pointer;
  }

  #applianceQty{
      width: 200px;
  }
  #applianceRating{
    width: 200px;
  }
  #hourOfUsage{
    width: 200px;
  }
  .hou{
    position: relative;
    top: -50px;
  }
  #powerFactor{
    width: 200px;
  }
  .pf{
    position: relative;
    top: -50px;
  }
  .custom-select{
    position: relative;
    top: -50px;
    left: 50%;
  }
select{
    width: 200px;
    height: 35px;
    background: #495e56;
    color: #e4dada;
    border: 0 soid #5e5896;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    box-shadow: 0 0 0 transparent;
    padding: 4px;
}
.newProjectBtns{
  width: 100px;
  height: 40px;
  padding: 2px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  cursor: pointer;
  border-radius: 20px;
}
.cancelBtns{
  background: transparent;
  color: #9e0e0e;
  border: 1px solid #9e0e0e;
}
#resetFields{
  position: relative;
  top: -60px;

}
#addAppliance{
  width: 150px;
  background: #68c5a1;
  color: #fff;
  border: 1px solid #68c5a1;
  position: relative;
  top: -20px;
  left: 25%;
}
#addPanelParams{
  background: #5e5896;
  color: #fff;
  border: 1px solid #5e5896;
  position: relative;
  top: 40px;
  left: 25%;
}
#addBatteryParams{
  background: green;
  color: #fff;
  border: 1px solid green;
  position: relative;
  top: 40px;
  left: 25%;
}

/**
* For List View details
*/
details {
  border: 1px solid #aaa;
  margin: .5em;
  border-radius: 4px;
  padding: .5em .5em 0;
  cursor: pointer;
}
details > summary {
  margin: -.5em -.5em 0;
  padding: .5em;
}
details[open] summary {
  border-bottom: 1px solid #aaa;
  margin-bottom: .5em;
}
details[open] ul{
  padding: .1em;
}
details[open] ul li{
  padding: .7em;
  border-bottom: 1px solid #d6dbe0;
}