<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Solark</title>

    <link rel="stylesheet" href="./styles/desktop.css">
    <link rel="stylesheet" href="./styles/newProjectDisplay.css">
</head>
<body class="desktop">
    <section id="menuBar">
        <nav class="sideNav">
            <ul>
                <li class="sideNavActive" id="newProject"><a href="#">NEW PROJECT</a></li>
                <li id="savedProject"><a href="#">SAVED PROJECTS</a></li>
                <li id="help"><a href="#">HELP</a></li>
                <li id="about"><a href="#">ABOUT</a></li>
            </ul>
        </nav>

    </section>

    <section id="displayArea">
        <div id="newProjectDisplay">
            <div id="selectView">
                <div class="selectViewHeader">
                    <h2 class="svH">APPLIANCES</h2>
                    <p class="svP">create and modify appliances</p>
                </div>

                <!-- <div  class="selectViewHeader">
                    <h2>APPLIANCES</h2>
                    <p>create and modify appliances</p>
                </div>

                <div class="selectViewHeader">
                    <h2>APPLIANCES</h2>
                    <p>create and modify appliances</p>
                </div> -->

                <button class="svBtns">Appliances</button>
                <!-- <button class="svBtns">Panel</button>
                <button class="svBtns">Battery</button>
                <button class="svBtns">Controller</button> -->

            </div>

            <div id="listView">

            </div>
        </div>

        <div id="savedProjectDisplay">
            <p>savedProjectDisplay</p>
        </div>

        <div id="helpDisplay">
            <p>helpDisplay</p>
        </div>

        <div id="aboutDisplay">
            <p>aboutDisplay</p>
        </div>

    </section>
    

    <script type="module">
        require('../renderer.js')
        require('../controllers/sideNavController.js')
        require('../controllers/newProjectController.js')
    </script>
</body>
</html>