<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Solark</title>

    <link rel="stylesheet" href="./styles/desktop.css">
    <link rel="stylesheet" href="./styles/newProjectDisplay.css">
</head>
<body class="desktop">
    <section id="menuBar">
        <nav id="sideNav">
            <ul>
                <li class="sideNavActive" id="newProject"><a href="#">NEW PROJECT</a></li>
                <li id="savedProject"><a href="#">SAVED PROJECTS</a></li>
                <li id="help"><a href="#">HELP</a></li>
                <li id="about"><a href="#">ABOUT</a></li>
            </ul>
        </nav>  
    </section>

    <section id="displayArea">
        <div id="newProjectDisplay">
            <div id="selectView">
                <div id="applianceHeader" class="selectViewHeader activeHeader">
                    <h2 class="svH">APPLIANCES</h2>
                    <p class="svP">add and modify appliances</p>
                </div>

                <div id="panelHeader" class="selectViewHeader">
                    <h2 class="svH">PANEL</h2>
                    <p class="svP">set panel parameters</p>
                </div>

                <div id="batteryHeader" class="selectViewHeader">
                    <h2 class="svH">BATTERY</h2>
                    <p class="svP">set battery parameters</p>
                </div>

                <div id="controllerHeader" class="selectViewHeader">
                    <h2 class="svH">Controller</h2>
                    <p class="svP">system and charge controller settings</p>
                </div>

                <button id="applianceBtn" class="svBtns activeBtn">Appliances</button>
                <button id="panelBtn" class="svBtns">Panel</button>
                <button id="batteryBtn" class="svBtns">Battery</button>
                <button id="controllerBtn" class="svBtns">Controller</button>

                <div id="applianceContent">
                    <form id="applianceForm" action="">
                        <div class="field">
                            <input type="hidden" name="appId" id="appId">
                          <input autofocus type="text" name="applianceName" id="applianceName" placeholder="Electric Cooker" required>
                          <label for="applianceName">Appliance Name</label>
                        </div>

                        <div class="field">
                            <input type="number" name="applianceQty" id="applianceQty" placeholder="10" min="1" required>
                            <label for="applianceQty">Appliance Quantity</label>
                        </div>

                        <div class="field">
                            <input type="number" name="applianceRating" id="applianceRating" placeholder="2" min="0" step="0.01" required>
                            <label for="applianceRating">Appliance Rating</label>
                        </div>

                        <div class="custom-select field" style="width:200px">
                            <select class="unitSelect" name="ratingUnit" id="ratingUnit" required>
                                <option value="W">Watts</option>
                                <option value="Hp">Horse Power</option>
                            </select>
                        </div>

                        <div class="field hou">
                            <input type="number" name="hourOfUsage" id="hourOfUsage" placeholder="9" min="0" required>
                            <label for="hourOfUsage">Hour Of Usage</label>
                        </div>

                        <div class="field pf">
                            <input type="number" list="powerFactor" name="powerFactor" min="0.5" max="0.9" step="0.1" id="powerFactor" placeholder="0.8" required>
                            <label for="powerFactor">Power Factor Rating</label>
                        </div>

                        <div class="field">
                            <button type="reset" class="newProjectBtns cancelBtns" id="resetFields">cancel</button>
                            <button type="submit" class="newProjectBtns okBtn" id="addAppliance">add appliance</button>
                            <button class="newProjectBtns okBtn" id="updateAppliance">update appliance</button>
                        </div>
                    </form>
                </div>

                <div id="panelContent">
                    <form action="" id="panelForm">
                        <div class="field">
                            <input autofocus type="number" min="0" step="0.01" name="unitPanelVoltage" id="unitPanelVoltage" placeholder="10" style="width:200px" required>
                            <label for="unitPanelVoltage">Unit Panel Voltage</label>
                        </div>

                        <div class="field">
                            <input type="number" min="0" step="0.01" name="unitPeakPower" id="unitPeakPower" placeholder="10" style="width:200px" required>
                            <label for="unitPeakPower">Unit Peak Power(Watts)</label>
                        </div>

                        <div class="field">
                            <input type="number" min="0" step="0.01" name="unitPanelPeakVoltage" id="unitPanelPeakVoltage" placeholder="2" style="width:200px" required>
                            <label for="unitPanelPeakVoltage">Unit Panel Peak Voltage</label>
                        </div>

                        <div class="field">
                            <button type="reset" class="newProjectBtns cancelBtns" id="resetPanel">cancel</button>
                            <button type="submit" class="newProjectBtns okBtn" id="addPanelParams">done</button>
                        </div>
                    </form>
                </div>

                <div id="batteryContent">
                    <form action="" id="batteryForm">
                        <div class="field">
                            <input autofocus min="0" step="0.01" required type="number" name="unitBatteryCapacity" id="unitBatteryCapacity" placeholder="10" style="width:200px">
                            <label for="unitBatteryCapacity">Unit Battery Capacity(Amp/hr)</label>
                        </div>

                        <div class="field">
                            <input min="0" step="0.01" required type="number" name="unitBatteryVoltage" id="unitBatteryVoltage" placeholder="10" style="width:200px">
                            <label for="unitBatteryVoltage">Unit Battery Voltage</label>
                        </div>

                        <div class="field">
                            <input min="0.1" step="0.1" required type="number" name="depthOfDischarge" id="depthOfDischarge" placeholder="2" style="width:200px">
                            <label for="depthOfDischarge">Depth Of Discharge(%)</label>
                        </div>

                        <div class="field">
                                <input min="1" required title="Number of days battery can carry given load without recharge" type="number" name="daysOfAutonomous" id="daysOfAutonomous" placeholder="2" style="width:200px">
                                <label title="Number of days battery can carry given load without recharge" for="daysOfAutonomous">Days Of Autonomous</label>
                        </div>

                        <div class="field">
                            <button type="reset" class="newProjectBtns cancelBtns" id="resetBattery">cancel</button>
                            <button type="submit" class="newProjectBtns okBtn" id="addBatteryParams">done</button>
                        </div>
                    </form>
                </div>

                <div id="controllerContent">
                    <form action="" id="controllerForm">
                        <div class="field">
                            <input autofocus min="0" step="0.1" required type="number" name="systemVoltage" id="systemVoltage" placeholder="10" style="width:200px">
                            <label for="systemVoltage">System Voltage</label>
                        </div>

                        <div class="field">
                            <input min="0" step="0.1" required type="number" name="peakSunHours" id="peakSunHours" placeholder="10" style="width:200px">
                            <label for="peakSunHours">Peak Sun Hours</label>
                        </div>

                        <div class="field">
                            <input min="0" step="0.1" required title="This is the unit current rating of the solar charge controller" type="number" name="chargeControllerRating" id="chargeControllerRating" placeholder="2" style="width:200px">
                            <label title="This is the unit current rating of the solar charge controller" for="chargeControllerRating">Charge Controller Rating</label>
                        </div>

                        <div class="field">
                            <button type="reset"class="newProjectBtns cancelBtns" id="resetController">cancel</button>
                            <button type="submit" class="newProjectBtns okBtn" id="addControllerParams">done</button>
                            <button class="newProjectBtns okBtn" id="generateReportBtn">generate report</button>
                        </div>
                    </form>
                </div>

            </div>

            <div id="listView">
                <details id="applianceView" open>
                    <summary>Appliances</summary>
                    <ul id="applianceViewUl"></ul>
                </details>

                <details id="panelView" open>
                    <summary>Panel</summary>
                    <div id="panelList">
                        <!-- Parameters are auto injected here -->
                    </div>
                </details>

                <details id="batteryView" open>
                    <summary>Battery</summary>
                    <div id="batteryList">
                        <!-- Parameters are auto injected here -->
                    </div>
                </details>

                <details id="sysControllerView" open>
                    <summary>System and Controller</summary>
                    <div id="systemList">
                        
                    </div>
                </details>
            </div>
        </div>

        <div id="savedProjectDisplay">
            <p>savedProjectDisplay</p>
        </div>

        <div id="helpDisplay">
            <p>helpDisplay</p>
        </div>

        <div id="aboutDisplay">
            <p>aboutDisplay</p>
        </div>

    </section>

    <section id="reportView">
        <h1 class="fontFamily" id="reportH1">SOLARK</h1>
        <p class="fontFamily" id="reportP">calculation report</p>

        <div id="reportParams">
            
        </div>

        <div style="margin-top: 5%; margin-left: 10%;">
            <button class="reportBtns fontFamily" id="goHome"> return home</button>
            <button class="reportBtns fontFamily" id="saveReport"> save report</button>
            <button class="reportBtns fontFamily" id="printReport"> print report as pdf</button>
        </div>
        
    </section>


    <script type="module">
        require('../renderer.js')
        require('../controllers/sideNavController.js')
        require('../controllers/newProjectController.js')
        require('../controllers/applianceController.js')
        require('../controllers/panelBatterySysController.js')
        require('../controllers/generateReportController.js')
    </script>
</body>
</html>