<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Solark</title>

    <link rel="stylesheet" href="./styles/desktop.css">
    <link rel="stylesheet" href="./styles/newProjectDisplay.css">
</head>
<body class="desktop">
    <section id="menuBar">
        <nav class="sideNav">
            <ul>
                <li class="sideNavActive" id="newProject"><a href="#">NEW PROJECT</a></li>
                <li id="savedProject"><a href="#">SAVED PROJECTS</a></li>
                <li id="help"><a href="#">HELP</a></li>
                <li id="about"><a href="#">ABOUT</a></li>
            </ul>
        </nav>

    </section>

    <section id="displayArea">
        <div id="newProjectDisplay">
            <div id="selectView">
                <div id="applianceHeader" class="selectViewHeader activeHeader">
                    <h2 class="svH">APPLIANCES</h2>
                    <p class="svP">add and modify appliances</p>
                </div>

                <div id="panelHeader" class="selectViewHeader">
                    <h2 class="svH">PANEL</h2>
                    <p class="svP">set panel parameters</p>
                </div>

                <div id="batteryHeader" class="selectViewHeader">
                    <h2 class="svH">BATTERY</h2>
                    <p class="svP">set battery parameters</p>
                </div>

                <div id="controllerHeader" class="selectViewHeader">
                    <h2 class="svH">Controller</h2>
                    <p class="svP">system and charge controller settings</p>
                </div>

                <button id="applianceBtn" class="svBtns activeBtn">Appliances</button>
                <button id="panelBtn" class="svBtns">Panel</button>
                <button id="batteryBtn" class="svBtns">Battery</button>
                <button id="controllerBtn" class="svBtns">Controller</button>

                <div id="applianceContent">
                    <form id="applianceForm" action="">
                        <div class="field">
                          <input type="text" name="applianceName" id="applianceName" placeholder="Electric Cooker" required>
                          <label for="applianceName">Appliance Name</label>
                        </div>

                        <div class="field">
                            <input type="number" name="applianceQty" id="applianceQty" placeholder="10" required>
                            <label for="applianceQty">Appliance Quantity</label>
                        </div>

                        <div class="field">
                            <input type="number" name="applianceRating" id="applianceRating" placeholder="2" required>
                            <label for="applianceRating">Appliance Rating</label>
                        </div>

                        <div class="custom-select field" style="width:200px">
                            <select name="ratingUnit" id="ratingUnit" required>
                                <option value="W">Watts</option>
                                <option value="Hp">Horse Power</option>
                            </select>
                        </div>

                        <div class="field hou">
                            <input type="number" name="hourOfUsage" id="hourOfUsage" placeholder="9" required>
                            <label for="hourOfUsage">Hour Of Usage</label>
                        </div>

                        <div class="field pf">
                            <input type="number" list="powerFactor" name="powerFactor" min="0" max="1" step="0.1" id="powerFactor" placeholder="0.8" required>
                            <label for="powerFactor">Power Factor Rating</label>
                        </div>

                        <div class="field">
                            <button type="reset" class="newProjectBtns cancelBtns" id="resetFields">cancel</button>
                            <button type="submit" class="newProjectBtns" id="addAppliance">add appliance</button>
                        </div>
                    </form>
                </div>

                <div id="panelContent">
                    <form action="">
                        <div class="field">
                            <input type="number" name="unitPanelVoltage" id="unitPanelVoltage" placeholder="10" style="width:200px">
                            <label for="unitPanelVoltage">Unit Panel Voltage</label>
                        </div>

                        <div class="field">
                            <input type="number" name="unitPeakPower" id="unitPeakPower" placeholder="10" style="width:200px">
                            <label for="unitPeakPower">Unit Peak Power(Watts)</label>
                        </div>

                        <div class="field">
                            <input type="number" name="unitPanelPeakVoltage" id="unitPanelPeakVoltage" placeholder="2" style="width:200px">
                            <label for="unitPanelPeakVoltage">Unit Panel Peak Voltage</label>
                        </div>

                        <div class="field">
                            <button class="newProjectBtns cancelBtns" id="resetPanel">cancel</button>
                            <button class="newProjectBtns" id="addPanelParams">done</button>
                        </div>
                    </form>
                </div>

                <div id="batteryContent">
                    <form action="">
                        <div class="field">
                            <input type="number" name="unitBatteryCapacity" id="unitBatteryCapacity" placeholder="10" style="width:200px">
                            <label for="unitBatteryCapacity">Unit Battery Capacity(Amp/hr)</label>
                        </div>

                        <div class="field">
                            <input type="number" name="unitBatteryVoltage" id="unitBatteryVoltage" placeholder="10" style="width:200px">
                            <label for="unitBatteryVoltage">Unit Battery Voltage</label>
                        </div>

                        <div class="field">
                            <input type="number" name="depthOfDischarge" id="depthOfDischarge" placeholder="2" style="width:200px">
                            <label for="depthOfDischarge">Depth Of Discharge(%)</label>
                        </div>

                        <div class="field">
                                <input type="number" name="daysOfAutonomous" id="daysOfAutonomous" placeholder="2" style="width:200px">
                                <label for="daysOfAutonomous">Days Of Autonomous</label>
                        </div>

                        <div class="field">
                            <button class="newProjectBtns cancelBtns" id="resetBattery">cancel</button>
                            <button class="newProjectBtns" id="addBatteryParams">done</button>
                        </div>
                        </form>
                </div>

                <div id="controllerContent">
                    <p>yippee333</p>
                </div>

            </div>

            <div id="listView">
                <details id="applianceView">
                    <summary>Appliances</summary>
                    <ul>
                        <li>
                            <button>edit</button>
                            <span>Standing cooker...</span>
                            <button>delete</button>
                        </li>
                        <li>
                            <button>edit</button>
                            <span>Standing cooker</span>
                            <button>delete</button>
                        </li>
                        <li>
                            <button>edit</button>
                            <span>Standing cooker</span>
                            <button>delete</button>
                        </li>
                    </ul>
                </details>
                <details id="batteryView">
                    <summary>Battery</summary>
                    <ul>
                        <li>
                            <span>Standing cooker...</span>
                        </li>
                    </ul>
                </details>
                <details id="panelView">
                    <summary>Panel</summary>
                    <ul>
                        <li>
                            <span>Standing cooker...</span>
                        </li>
                    </ul>
                </details>
                <details id="sysControllerView">
                    <summary>System and Controller</summary>
                    <ul>
                        <li>
                            <span>Standing cooker...</span>
                        </li>
                    </ul>
                </details>
            </div>
        </div>

        <div id="savedProjectDisplay">
            <p>savedProjectDisplay</p>
        </div>

        <div id="helpDisplay">
            <p>helpDisplay</p>
        </div>

        <div id="aboutDisplay">
            <p>aboutDisplay</p>
        </div>

    </section>


    <script type="module">
        require('../renderer.js')
        require('../controllers/sideNavController.js')
        require('../controllers/newProjectController.js')
        require('../controllers/applianceController.js')
    </script>
</body>
</html>