.about, .saved, .help{
    text-align: center;
    margin-top: 15%;
}
#vId{
    font-weight: 100;
    color: darkslategray;
    letter-spacing: 0.1em;
}
#emptyP{
    font-weight: 100;
    color: rgb(148, 137, 137);
    letter-spacing: 0.07em;
}
#by{
    font-weight: 100;
    color: rgb(35, 83, 39);
    margin-top: 1%;
    letter-spacing: 0.07em;
}